.form__input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
