.popup__text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 54px;
}

@media screen and (max-width: 767px) {
  .popup__text {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }
}
